* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hotelList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 24px;

  background-image: url("https://images.unsplash.com/photo-1607020914336-15ed7435a306?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-size: 100%;
  background-attachment: fixed;
  background-position: center center;
}
